#div-TA {
    margin: auto;
    margin-top: 2%;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: aquamarine;
  }

#textarea {
    margin: auto;
    align-items: center;
}